.brand-wrap
  padding-top 40px
  height 100%
  display flex
  flex-direction column
  .cBrand
    margin-top 10px
    .title
      font-size 13px
      color #999
      line-height 40px
      height 40px
      text-align center
    .brand-img
      padding 5px 0 5px 15px
      display flex
      flex-flow row wrap
      div
        text-align center
        padding 3px
        &.name
          width 102px
          font-size 13px
          text-overflow ellipsis
          white-space nowrap
          overflow hidden
        &.address
          font-size 12px
          color #999
          margin-bottom 15px
      li
        img
          width 80px
          border 1px #dbd8db solid
          padding 10px
          margin 0 6px

.circle
  width 40px
  height 40px
  background: rgba(0,0,0,.4);
  border-radius 50%
  position fixed
  right 5px
  bottom 65px
  text-align center
  line-height 40px
  font-size 12px
  color #fff